*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

@font-face {
/* Specify font(s)*/
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}


.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    
    
}

 
nav{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    background-color: #6d3a7a;
    align-items: center;
    justify-content: space-between;
 
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
nav ul li a:hover{
    color: rgb(255, 255, 255);
}

.logo{
    height: 40px;
    margin-left: 1.5cm;
}

.mydetel{
    margin-left: 8%;
    margin-top: 5%;
    
    

}

/*attribute selector*/
/* specificity */
.mydetel h1[data-role="bold-name"]{
    font-size: calc(2rem + 2vw);/*text effects*/
    color: rgb(125, 36, 125);
    margin-bottom: 60px;
    text-shadow: 0px 4px 10px rgba(65, 49, 62, 0.712);
    
}



/*attribute selector*/
.mydetel h1 span[data-role="gray-name"]{
    color: #6e606e;
    
}
/*Relational selector*/
.mydetel h1 ~ p {
    text-decoration: none; 
  }
.mydetel p{
    color:#2a2a2a;
    line-height: 22px;
    font-weight: bolder;
    line-height: 30px;
    margin-bottom: 60px;
    
}

.mydetel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    
}

/*  User Action Pseudo Class*/
.cvbutton:hover{
    color: rgb(108, 66, 147);
    transform: scale(1.1);
}


.images{
    width: 45%;
    height: 70%;
    position: absolute;
    bottom: 0;
    right: 0%;
    animation: fadeInUp 1s ease-in-out;
}

.images .shape{
   
    height: 15cm;
    bottom: 2.5cm;
    z-index: -2;
    bottom: 18%;
}

.images .leharaimg{
 height: 10cm;
 bottom: 7cm;
 z-index: -1;
 bottom: 40%;



}

.images img{
    max-width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s , left 1s;
}

@media (max-width: 768px) {
    .images {
      width: 100%; 
      height: auto; 
      position: relative; 
      bottom: 0;
      right: 0;
    }
  
    .images img {
      position: sticky; 
      transform: translateX(0); 
    }
  }

.social-icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 40px; 
    left: 20px;
    justify-content: center;
    gap: 20px; 
    bottom: 10%;
    
  }
  
  
  .social-icons img {
    width: 32px; 
    height: 32px;
    transition: transform 0.3s ease-in-out;
  }
  
  .social-icons a[target="_blank"] img {
    width: 36px;
    height: 36px;
}

  .social-icons img:hover {
    transform: scale(1.4); 
  }
  @media(max-width:768px){
    nav ul{
        flex-direction: column;
    }
    .mydetel{
        text-align: center;
    }
    
  }

  footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #6d3a7a;
    color: #fff;
    position:fixed;
    bottom: 0;
    z-index: 10;
}



/* Container and Layout */
.about-container {
    
    display: flex;
    justify-content:flex-start ;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 50px 20px;
    margin-left: 80px;
     box-sizing: border-box;
     gap: 30px;
   
    
}

/* Profile Section */
.profile {
    margin-bottom: 30px;
    position: relative;
   z-index: 2;
}




.profile-name::before { /* Pseudo-element with generated content */
    content: "So, who am I? ";
    color: #6e2774;
    font-size: 1.5em;
    display: block;
    margin-bottom: 5px;
    
}

.profile-name {
    font-size: 2em;
    color: #1a022b;
    margin-top: 20px;
    
}

.profile-intro {
    color: #000000;
    line-height: 1.6;
    margin: 10px 0 0 0;
    margin-top: 30px;
    color:#2a2a2a;
    line-height: 30px;
    font-weight: bold;
}

/* Skills Section */
/*border*/
.more-info {
    z-index: 3;
    padding: 20px;
    border-radius: 35px;/* round coners*/
    box-shadow: 0px 4px 10px rgba(218, 27, 186, 0.712);/* shadow*/
    max-width: 500px;
    margin-bottom: 10%;
    text-align: center;
    background: linear-gradient(to right, #a076ab, #f0f0f0);/*grdient*/
    animation: fadeInUp 1s ease-in-out;
   
}
 @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    
  }


.more-info h3 {
    font-size: 1.7em;
    color: #1b1a1a;
    margin-bottom: 25px;
}

/* Child Combinator */
.skills-list > li {
    list-style-type: none;
    color: #504757;
    font-size: 1.2em;
    margin: 5px 0;
    padding-left: 10px;
}






/* Structural Selector: First Child */
.skills-list li:first-child {
    font-weight: bold;
    color: #4b3067;
}

.images_about{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 45%;
    height: 70%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    animation: fadeInUp 1s ease-in-out;
    
   
}


.images_about .img_1{
   
    height: 8cm;
    border-radius: 50px;
    bottom: 30%;
    
}
.images_about .img_2{
 height: 8cm;
 border-radius: 50px;
 left: 5cm;
 top: -15%;
}

.images_about img{
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s , left 1s;
}

@media (max-width: 768px) {
    .images_about {
      width: 100%; 
      height: auto; 
      position: relative; 
      bottom: 0;
      right: 0;
    }
  
    .images_about img {
      position: sticky; 
      transform: translateX(0); 
    }
  }

.projectheading{
    font-size: 5rem;
    text-align: center;
    margin: 5rem 0;
    margin-bottom: 2rem;
    color: rgba(0, 0, 0, 0.7);
}





#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0 ,0 ,0,0.05);
}

.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span{
    color: #4b3067;
}
.blog-heading h3{
    font-size: 2.4rem;
    color: #212121;
    font-weight: 600;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;

}

.blog-box{
    width: 350px;
    background-color: #fff;
    border: 1px solid #ececec;
    margin: 20px;
}

.blog-img{
    width:100% ;
    height: auto;
}

.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span{
    color: #251339;
    font-size: 0.9rem;
    text-align: center;
}

.blog-text  .blog-title{
    font-size: 1.rem;
    font-weight: 500;
    color: #222121;
    margin: 4px;
    text-align: center;
}



.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-text a{
    color: #000;
    text-decoration: none;
}

.blog-text a:hover{
    color: #be7bcd;
    transition: all ease 0.3s;
}

@media(max-width:1250px){
    .blog-box{
        width: 300px;
    }
}

@media(max-width:1100px){
    .blog-box{
        width: 70%;
    }
}

@media(max-width:550px){
    .blog-box{
       margin: 20px 10px;
       width: 100%;
    }
    #blog{
        padding: 20px;
    }
}




.project-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
 
}

.project-heading span{
    color: #4b3067;
    margin-top: 20px;
}
.project-heading h3{
    font-size: 2.4rem;
    color: #212121;
    font-weight: 600;
}

.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 70px;
    top: 50px;
}

.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color:#7a3fa3;
    left: calc(50% - 1px);


}

.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    bottom: 70px;
}

/*  Negation Pseudo Class */
.timeline-item:not(:first-child) {
    margin-top: 20px;
}

.timeline-item:last-child{
    margin-bottom: 0;
}
/*  Negation Pseudo Class */
li:not(:first-child) {
    margin-top: 10px;
}

/*Nth pseudo class*/
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}


.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: #34182b;
    margin: 6px 0 15px;
}

.timeline-content{
    background-color: #7a739d;
    border: 3px solid rgb(175, 170, 203);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px rgb(65, 53, 65);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px rgb(164, 86, 164);
}

.timeline-content h3{
    font-size: 20px;
    color: #000;
    margin: 0 0 10 px;
    font-weight: 600;
    text-decoration: none;

}
.timeline-content h3 a{
 
    color: #000000;
}

.timeline-content p {
    color: #212121;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar{
    width: 15px;

}

::-webkit-scrollbar-thumb{
    background-color: #c3aadf;
}

::-webkit-scrollbar-track{
    background-color: #504757;
    width: 20px;
}

.events {
    margin-top: 50px;
    margin-bottom: 90px;
    padding: 20px;
    border-top: 1px solid #ccc;
  }
  
  .events h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;

  }
  
  .event-item {
    margin-bottom: 90px;
    text-align: center;
    color:#6d3a7a;
  }
  
  .event-item h3 {
    font-size: 18px;
    margin-bottom: 50px;
  }
  
  .event-item p {
    font-size: 16px;
    margin: 0;
  }
  
  .event-item time {
    font-weight: bold;
  }

.button{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 3rem ;
    border-radius: 20px;
    
    
}
.button:hover{
    color: rgb(108, 66, 147);
    transform: scale(0.9);
}

.contact h2{
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.7);
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 4rem auto;
    text-align: center;
    
}

.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}

.contact form .input-box input,.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1rem;
    color: #2a2a2a;
    background: #f0edf3;
    border-radius: 1rem;
    border: 2px solid rgba(135, 107, 142, 0.555);
    margin: 1.5rem 0;
    margin-bottom: -1rem;
    resize: none;
    
}

/*Validity pseudo class*/
input:valid {
    border-color: green;
  }
  
  input:invalid {
    border-color: red;
  }




